.item {
    width: 360px;
    height: 190px;
    background-color: #F9FAFF;
    border-radius: 26px;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
}


.title-item {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 1.3rem; /* Mengubah ukuran font agar sesuai dengan layar yang lebih kecil */
    position: relative;
    left: 0;
    color: #0C145A;
}

.desc-item {
    font-family: 'Quicksand', sans-serif;
    color: #0C145A;
    font-size: 1rem;
    font-weight: 400;
    position: relative;
    left: 0;
}